@import "tailwindcss";

*{
    box-sizing: border-box;
}
body{
  background-color: #121212;
  color: whitesmoke;
}
.remote-cursor {
  position: absolute;
  width: 2px;
  background-color: red;
  z-index: 10;
}
