MONGODB_URI=""


GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GEMINI_API_KEY=""


# tokens
ACCESS_TOKEN_EXPIRES=""
REFRESH_TOKEN_EXPIRES=""
JWT_SECRET=""
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
COOKIE_KEY=""


CORS_ORIGIN=""
CLIENT_URL=""
SERVER_URL=""
PORT=""


#gmail
CONTACT_USER=""
MAIL_USER=""
MAIL_PASS=""


# cloudinary
CLOUD_NAME=""
CLOUD_API_KEY=""
CLOUD_API_SECRET=""


# redis
REDIS_PORT=""
REDIS_HOST=""
REDIS_PASSWORD=""


NODE_ENV=""